#cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1000;

  div {
    text-align: center;
  }
}

#watching {
  margin: 0 20px;

  .card {
    margin: 365px 0 0 0;
  }
  .item {
    padding: 16px 0 10px 0;
    font-size: 1.2rem;
  }
  button {
    width: 300px;
    margin: 16px auto 0;
  }
}

#alarming {
  margin: 165px 0 0 0;
}

#stop-alarm {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  // background-color: rgba(239, 78, 58, 0.5);
}

// #stop-alarm:not(.activated) {
//   background-color: rgba(239, 78, 58, 0.5);
//   background-color: #ffffff;
//   border: solid 12px #cc2311;
//   color: #cc2311;
//   font-weight: bold;
// }