#toggle-power {
  border-radius: 50%;
  border: none;
}

// #toggle-power.button-positive {
//   background: #4a87ee; // #145fd7;
//   color: #ffffff;
// }

#toggle-power.button-stable {
  color: #4a87ee;
}