#toggle-power {
  border-radius: 50%;
  border: none;
}

#toggle-power.button-positive {
  background: #4a87ee; // #145fd7;
  color: #ffffff;
}

#toggle-power.button-stable {
  color: #4a87ee;
}



/**
 * cover
 */
#cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1000;
}

.cover_message {
  width: 100%;
  text-align: center;
  z-index: 1100;
  // margin: 100px 0 0 0;
  // padding: 100px 0 0 0;
}