<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>AREAlarm</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/time.css">
    <link rel="stylesheet" href="styles/area.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="AREAlarm">

    <ion-pane ng-controller="MainCtrl">
      <ion-header-bar class="bar-stable">
        <h1 class="title">AREAlarm</h1>
        <label class="toggle">
          <input type="checkbox" ng-model="setting.power" ng-disabled="areaEditing">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <!-- <button class="button button-icon icon ion-refresh" onclick="location.reload()"></button> -->
        <button class="button button-clear button-positive" onclick="location.reload()">Reload</button>
        <!-- <button class="button button-icon icon ion-power"></button> -->
      </ion-header-bar>
<!--       <ion-header-bar class="bar-subheader bar-positive" ng-if="setting.power">
        <h1 class="title">Sub Header</h1>
      </ion-header-bar> -->
      <ion-content>
        <cover></cover>
        <timeselect time="setting.time" ng-hide="areaEditing"></timeselect>
        <areaselect area="setting.area" editing="areaEditing"></areaselect>
        <!-- <alarmselect ng-hide="areaEditing"></alarmselect> -->
      </ion-content>
      <!-- <div class="bar bar-footer bar-balanced"> -->
        <!-- <div class="title">Footer</div> -->
        <!-- <button class="button button-block button-positive">
          Block Button
        </button> -->
      <!-- </div> -->
    </ion-pane>

    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/collide/collide.js"></script>
    <script src="lib/ionic/release/js/ionic.js"></script>
    <script src="lib/ionic/release/js/ionic-angular.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angularLocalStorage/src/angularLocalStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


        <!-- build:js scripts/scripts.js -->
        <script src="scripts/debug.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/time.js"></script>
        <script src="scripts/area.js"></script>
        <script src="scripts/alarm.js"></script>
        <script src="scripts/arealarm.js"></script>
        <!-- endbuild -->
</body>
</html>
