<div id="cover">
  <div id="watching" ng-show="status==='waiting'">
    <div class="card">
      <div class="item">
        Waiting start time
        <button class="button button-block button-calm" ng-click="onClickStopWait()">
          Stop
        </button>
      </div>
    </div>
  </div>
  <div id="watching" ng-show="status==='watching'">
    <div class="card">
      <div class="item">
        Traking position...
        <button class="button button-block button-calm" ng-click="onClickStopWatch()">
          Stop
        </button>
      </div>
    </div>
  </div>
  <div id="alarming" ng-show="status==='alarming'">
    <button id="stop-alarm" class="button button-large button-assertive" ng-click="onClickStopAlarm()">
      In AREA <i class="icon ion-alert"></i><br>
      Stop alarm
    </button>
  </div>
</div>